<footer class="footer bg-dark">

    <div class="socials">


         <a href="https://instagram.com/vibhuuu.21?igshid=OGQ5ZDc2ODk2ZA=="><i class="fa-brands fa-instagram fa-beat fa-3x"></i>
        </a>
    

    
      <a href="https://www.facebook.com/profile.php?id=100007839399474"><i class="fa-brands fa-square-facebook fa-beat fa-3x"></i></a>
   
     </div>
<br>
<!-- <p class="last-msg mdn-heading">Happy exploring and follow my socials for more updates.</p> -->


</footer>